body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  height: '100%';
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

/**/
p {
  font-size: 16px;
  color: black;
}

.margin {
  margin-bottom: 35px;
}

/*============= NavBar ==============*/
#navbar {
  /*margin: 0 auto ;*/
  width: 100%;
}

.navbar-fixed-top.scrolled {
  background-color:  #202833 !important;
  /* transition: background-color 200ms linear; */
}

.navbar {
  padding: 2% 5%;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: #233a60 !important;
  /* background-color: transparent; */
}

main {
  flex: 1 0 auto;
}

/*First Container*/

.background-pics {
  max-width: 100%;
  width: 100%;
  background-size: cover;
}

.parallax-container {
  height: 100vh;
}

/*First Container Text*/
#front-caption {
  margin-top: 15%;
  text-align: center;
  font-style: italic;
}

/*About Me Section*/
.bg-2 { 
  background-color: black;
  color: #ffffff;
  height: 100vh;
}

h3, #about h3 {
  color: white;
}

#about {
  height: 100vh
}

/* #about-summary {
  margin-left: 15%;
  margin-right: 15%;
} */

#myModal {
  width: 85%;
  overflow: none;
}

/*iframe Tag*/

.c24 {
  padding: 0;
}

.bg-2 p {
  color: #ffffff
}

/*Projects Section*/
.bg-3 { 
  background-color: #ffffff; 
  color: #555555;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ====== CONTACT SECTION ====== */
.bg-4 { 
  color: #eeeeee;
  background-color:#202833;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* #contact-caption {
  /* margin-bottom: 50px; */

/* } */

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

#skills {
  /* margin: 40px auto; */
}

h3, #connect h3, #contact p {
  color: #eeeeee;
}

h4, #connect h4 {
  /* margin-bottom: 15px; */
  /* line-height: 22px; */
  color: #eeeeee;
}

h4 {
  padding-bottom: 15px;
}

/* SOCIAL MEDIA ICONS */
.social:last-child {
  margin-right: 0;
}

/* body {  margin:0 auto; max-width:940px;} */

#social a {
  color: #fffffa;
  background-color: #c61118;
  display: inline-block;
  font-size: 45px;
  border-radius:25px;
  height: auto;
  text-align:center;
  padding:8px;
  line-height: 56px;
  width: 70px;
  margin: 30px 1px 6px;
  /* margin-top: 50px; */
}

footer {
  background-color: #202833;
  color: white;
  padding: 25px;
  flex-shrink: 0;
}

.copyright {
  color:#eeeeee;
  font-size: 14px;
  /* margin-top: 30px; */
}

/*Media Screen Tags*/
@media screen and (max-width: 980px) {

  
}

@media screen and (max-width: 768px) {
  /* CONTACT SECTION */
  .bg-4 { 
    /* color: #eeeeee;
    background-color:#202833; */
    /* height: 100vh; */
    /* margin: 0 auto; */
    /* background: url("../images/old_wall.png"); */
  }
}

@media screen and (max-width: 640px) {

  /* NAVBAR */
  .navbar-fixed-top  {
    position: static
  }
  .container-fluid {
    max-width: 640px;
    width: 100%;
  }

  /*#front-caption {
    margin: auto;
  }
  */
/*Background Slideshow*/
  .background-pics {
    max-width: 640px;
    width: 100%;
    background-size: 100% 100%;
  }

/*About Me Section*/

  #about-summary {
    margin-left: 2%;
    margin-right: 2%;
  }


/* CONTACT SECTION */
  .bg-4 { 
    /* color: #eeeeee;
    background-color:#202833; */
    /* height: 100vh; */
    /* margin: 0 auto; */
    /* background: url("../images/old_wall.png"); */
  }
}