body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

* {
  box-sizing: border-box;
}

/**/
p {
  font-size: 16px;
  color: black;
}

.margin {
  margin-bottom: 35px;
}

/*============= NavBar ==============*/
#navbar {
  /*margin: 0 auto ;*/
  width: 100%;
}

.navbar-fixed-top.scrolled {
  background-color:  #202833 !important;
  transition: background-color 200ms linear;
}

.navbar {
  padding: 2% 5%;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: #233a60 !important;
  background-color: transparent;
}

/*First Container*/

.background-pics {
  max-width: 100%;
  width: 100%;
  background-size: cover;
}

.parallax-container {
  height: 600px;
}

/*First Container Text*/
#front-caption {
  margin-top: 15%;
  text-align: center;
  font-style: italic;
}

/*About Me Section*/
.bg-2 { 
  background-color: black;
  color: #ffffff;
  height: 90vh;
}

h3, #about h3 {
  color: white;
}

#about-summary {
  margin-left: 15%;
  margin-right: 15%;
}

#myModal {
  width: 85%;
  overflow: none;
}

/*iframe Tag*/

.c24 {
  padding: 0;
}

.bg-2 p {
  color: #ffffff
}

/*Projects Section*/
.bg-3 { 
  background-color: #ffffff; 
  color: #555555;
  height: 100vh;
}

/* ====== CONTACT SECTION ====== */
.bg-4 { 
  color: #eeeeee;
  background-color:#202833;
  height: 80vh;
  margin: 0 auto;
  /* background: url("../images/old_wall.png"); */
}

#contact-caption {
  margin-bottom: 50px;
  font-weight: bold;
  font-style: italic;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

#skills {
  margin: 40px auto;
}

h3, #connect h3, #contact p {
  color: #eeeeee;
}

h4, #connect h4 {
  margin-bottom: 15px;
  line-height: 22px;
  color: #eeeeee;
}

h4 {
  padding-bottom: 15px;
}

/* SOCIAL MEDIA ICONS */
.social:last-child {
  margin-right: 0;
}

/* body {  margin:0 auto; max-width:940px;} */

#social a {
  color: #fffffa;
  background-color: #c61118;
  display: inline-block;
  font-size: 56px;
  border-radius:25px;
  height: auto;
  text-align:center;
  padding:8px;
  line-height: 56px;
  width: 75px;
  margin: 0 1px 6px;
  margin-top: 50px;
}

footer {
  background-color: #202833;
  margin: 0;
  color: white;
  padding: 25px;
  width: 100%;
}

.copyright {
  color:#eeeeee;
  font-size: 14px;
}

/*Media Screen Tags*/
@media screen and (max-width: 980px) {

  
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

.container-fluid {
  max-width: 640px;
  width: 100%;
}

/*#front-caption {
  margin: auto;
}
*/
/*Background Slideshow*/
  .background-pics {
    max-width: 640px;
    width: 100%;
    background-size: 100% 100%;
  }

/*About Me Section*/

#about-summary {
  margin-left: 2%;
  margin-right: 2%;
}

/*Message form panel*/
  #message-form {
    max-width: 550px;
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
  }

/*Connect Panel*/
  #connect {
    max-width: 550px;
    width: 100%;
    margin: auto;
    margin-top: 75px;
    max-height: 300px;
    height: 100%;
    text-align: center;
    float: none;
  }

  .social {
    height: 100px;
    width: 85px;
  }
}