body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  * {
    box-sizing: border-box;
  }

/**/
  p {
    font-size: 16px;
    color: black;
  }
  .margin {
    margin-bottom: 45px;
  }


/*First Container*/

  /* The animation slideshow code */
/*  @keyframes slideshow {
      0%  {background-image: url("../images/skyline.jpeg");}
      25%  {background-image: url("../images/suburbs.jpg");}
      50%  {background-image: url("../images/landscape.jpeg");}
      75% {background-image: url("../images/beach.jpeg");}
  }*/

  /* The element to apply the animation to */
/*  .background-pics {
      max-width: 100%;
      width: 100%;
      height: 640px;
      /*background-image: url("../images/skyline.jpeg");*/
      /*background-size: cover;
      animation-name: slideshow;
      animation-duration: 10s;
      animation-iteration-count: infinite;*/
  /*}*/

  .background-image {
  
    width: 100%;
    height: auto;
  }

  #nav {
    position: fixed;
    width: 100%;
    overflow: auto;
    z-index: 99;
  }

/*First Container Text*/
  #front-caption {
    position: absolute;
    left: 6%;
    bottom: 30%;
    font-style: italic;
  }

/*About Me Section*/
  .bg-2 { 
      background-color: black;
      color: #ffffff;
  }

  #about-summary {
    margin-left: 15%;
    margin-right: 15%;
  }

 #modal {
  width: 85%;
  margin: auto;
 }

  .bg-2 p {
    color: #ffffff; White
  }

/*Projects Section*/
  .bg-3 { 
      background-color: #ffffff;  White 
      color: #555555;
  }

  /*Contact Section*/
  .bg-4 { 
      background-color: black; 
      color: #fff;
  }
  
  .container {
    padding: 10px 10px;
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

/*Contact Section*/

/*#contact-section {
  max-width: 1200px;
  width: 100%;
}*/

/*Message Form*/

#message-form {
  background: #fff;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  border: 1px solid #ddd;
  float: left;
  margin-left: 50px;
}

label {
  color: black;
  font-size: 16px;
}

/*Connect With Me Sidebar*/

#connect {
  max-width: 400px;
  float: right;
  width: 100%;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

h4, #connect h4 {
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
  line-height: 22px;
  color: black;
}

h4 {
  padding-bottom: 15px;
}

.social {
  height: 100px;
  width: 100px;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/*Media Screen Tags*/
@media screen and (max-width: 980px) {

  
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
  

/*Background Slideshow*/
  .background-image img {
    width: 100%;
    height: 530px;
  }

.container-fluid {
  padding: none;
}

/*Message form panel*/
  #message-form {
    margin: 0;
    max-width: 550px;
    width: 100%;
    text-align: center;
    float: none;
  }

/*Connect Panel*/
  #connect {
    margin: 0;
    margin-top: 75px;
    max-width: 550px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    text-align: center;
    float: none;
  }

  .social {
    height: 100px;
    width: 85px;
  }
}