body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  * {
    box-sizing: border-box;
  }

/**/
  p {
    font-size: 16px;
    color: black;
  }
  .margin {
    margin-bottom: 45px;
  }

/*  .bg-1 { 
      background-color: #0274b3;  Darkcyan 
      color: #ffffff;
  }*/




 /* .front-page {*/
/*    display: table;*/
   /* width: 100%;
    height: 100%;*/
/*    padding: 225px 89.5px;
    background-image: url("../images/skyline.jpeg");
    background-size: cover;*/
  /*}*/

  /* The animation slideshow code */
  @keyframes slideshow {
      0%   {background-image: url("../images/skyline.jpeg");}
      25%  {background-image: url("../images/skyline.jpeg");}
      50%  {background-image: url("../images/suburbs.jpg");}
      75%  {background-image: url("../images/landscape.jpeg");}
      100% {background-image: url("../images/beach.jpeg");}
  }

  /* The element to apply the animation to */
  .background-pics {

      padding-top: 640px;
      max-width: 100%;
      width: 100%;
      height: auto;
      /*background-image: url("../images/skyline.jpeg");*/
      background-size: cover;
      animation-name: slideshow;
      animation-duration: 10s;
      animation-iteration-count: infinite;
  }


  #front-caption {
    position: absolute;
    left: 75px;
    bottom: 100px;
  }


  .bg-2 { 
      background-color: black;
      color: #ffffff;
  }

  .bg-2 p {
    color: #ffffff; White
    text-align: left;
  }
  .bg-3 { 
      background-color: #ffffff;  White 
      color: #555555;
  }
  .bg-4 { 
      background-color: black; 
      color: #fff;
  }
  
  .container {
    padding: 10px 10px;
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

/*Contact Section*/

#contact-section {
  max-width: 1200px;
  width: 100%;
}

/*Message Form*/

#message-form {
  background: #fff;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  border: 1px solid #ddd;
  float: left;
  margin-left: 50px;
}

label {
  color: black;
  font-size: 16px;
}

/*Connect With Me Sidebar*/

#connect {
  max-width: 400px;
  float: right;
  width: 100%;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

h4, #connect h4 {
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
  line-height: 22px;
  color: black;
}

h4 {
  padding-bottom: 15px;
}

.social {
  height: 100px;
  width: 100px;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/*Media Screen Tags*/
@media screen and (max-width: 980px) {

  
}

@media screen and (max-width: 768px) {

}



@media screen and (max-width: 640px) {
  

/*Background Slideshow*/
  .background-pics {
    padding-top: 640px;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
  }

  #front-caption {
  position: absolute;
  bottom: 25px;
  }

/*Message form panel*/
  #message-form {
    margin: 0;
    max-width: 550px;
    width: 100%;
    text-align: center;
    float: none;
  }

/*Connect Panel*/
  #connect {
    margin: 0;
    margin-top: 75px;
    max-width: 550px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    text-align: center;
    float: none;
  }

  .social {
    height: 100px;
    width: 85px;
  }
}